    
@media screen and (max-width:600px) {
 .header{
    position: fixed;
 }

    .navbar{
       
        width:100vw ;
       display: flex;
 flex-direction: row;
    justify-content: top;
}
       
    .menu{
        
        font-size: 45px;
        position: absolute;
        right: 0;
        top:60px;
        height:100vh;
        flex-direction: column;
        width: 100vw;
       
        justify-content: center;
        align-content: center;
        display: flex;
        margin: 0%;
        background-color: rgb(50, 45, 45);
        transform: translate(100%);
        transition: .3s ease-in-out;
        padding-top:30px;
    }
   

  

    
.menu.active {
 margin-top: 0;
 padding-top: 0%;
    height: 100vh;
  align-items: center;
  transform: translate(0%);
}


    
    .logo{
       justify-content: left;
      padding-left: 20px;
     
    }
      
        .menu a{
            line-height: 1em;
        
        }

        .burger {
            display: block;
            transition: .3s ease-in-out;
        }
     
        .burger.active .line:first-child {
            transform: translateY(-300px);
        }

        .burger.active .line:nth-child(2) {
            transform: rotate(-405deg) translateY(8px);
        }
        .burger.active .line:nth-child(3) {
            transform: rotate(405deg) translateY(-8px);
        }

   .caption{
    font-size: 25px;
    justify-content: top;
    margin-top: 12%;

   }
   .caption2{
    font-size: 20px;
   }
   .imgs{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
  
   }

   img{
    width: 320px;
    padding: 8px;
   }
   #aboutme h2 {
    margin-top: 15%;
    font-size:25px ;
}

#aboutme h2 {
    margin-top: 15%;
    font-size:25px ;
}

.portfolio1line{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .portfolio2line{
        display: flex;
        flex-direction: column;
        align-items: center;
    
}

 

#contacts h2 {
    font-size: 25px;
         margin: 5% 25% 5% 25%;
         
}

.row {
    font-size: 10px;
    display: flex;
}
.p1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p1 img {
        max-width: 300px;
    }
    .p2 img {
        max-width: 250px;
    }
    #aboutme h2{
        margin-top: 26px;
    }
     .p1 p{
      
        font-size: 14px;
        width: 80%;
     }
     .p2 p{
      min-width: 250px;
      max-width:300px ;
        font-size:14px ;
    }
    

}


@media screen  and (min-width:1126px) and  (max-width:1600px) {
    .portfolio1line{
        display: flex;
        flex-direction: row;
        align-items: center;
       margin-top: 10%;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom:0%;

    }
    .portfolio1line img{
        height:350px;
        padding: 12px;
    }
        .portfolio2line{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 26px;
            justify-content:space-around;
            flex-wrap: wrap;
        }
            
            .portfolio2line img{
                height: 350px;
                padding: 12px;

            }
            #homepage{
              
                padding-top: 5%;
            }
}



@media screen  and (min-width:1125px) and  (max-width:1280px){
    .imgs {
     justify-content: space-between;
     align-items: center;
     padding: 34px 2% ;
     margin-top: 16px;
     background-color: rgb(178, 173, 184);

     }  
     img {
    margin: 0% 0%;
    height:350px;
    border: 5px;
    border-radius: 30px;
     }
       
       #aboutme h2{
        margin-top: 10%;
       }
       .bottom{
        margin-top: 15%;
       }
    .caption{
     margin-top: -6%;
        font-size: 35px;
        padding: 0px 16%;
    }
.caption2 {
    font-size: 25px;
}
}


@media screen  and (min-width:913px)and  (max-width:1124px){
    .portfolio1line{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

    }
    .portfolio1line img{
        height:300px;
    }
        .portfolio2line{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
        }
            
            .portfolio2line img{
                height: 300px;
            }
    .imgs {
        justify-content: space-around;
        background-color: none;
        padding: 8px 20% ;
      margin-bottom: 5%;
        flex-wrap: wrap ;
        }  
        img {
       margin:2% 0% 4%  0%;
       height:350px;
       border: 5px;
       border-radius: 30px;
        }
     
        .caption{
            margin-top: 5%;
                  font-size: 30px;
              }
          .caption2 {
              font-size: 20px;
          }
          #contacts h2 {
        
             margin: 5% 25% 5% 25%;
}
}

@media screen  and (min-width:686px)and  (max-width:939px){
    .portfolio1line{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

    }
    .portfolio1line img{
        height: 250px;
    }
        .portfolio2line{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
        }
            
            .portfolio2line img{
                height: 200px;
            }
    .row{
    font-size: 20px;
   }
    .imgs {
        justify-content: space-evenly;
        background-color: none;
        padding: 8px 12% ;
      margin-bottom: 5%;
        flex-wrap: wrap ;
        }  
        img {
       margin:2% 0% 4%  0%;
      height:320px;
      }

       .caption{
        margin-top: 10%;
              font-size: 25px;
          }
      .caption2 {
          font-size: 20px;
      }
      #contacts h2 {
         margin: 5% 35% 5% 35%;
        }
    }

 @media screen  and (min-width:601px)and  (max-width:686px){
    .portfolio1line{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .portfolio2line{
            display: flex;
            flex-direction: column;
            align-items: center;}

            .imgs {
                justify-content: space-evenly;
                padding: 8px 8% ;
              margin-bottom: 5%;
                flex-wrap: wrap ;
                }  
                img {
               margin:2% 0% 4%  0%;
              height:320px;
              }
              .caption{
                margin-top: 10%;
                      font-size: 25px;
                  }
              .caption2 {
                  font-size: 20px;
        }
    }
    @media screen  and (min-width:601px) and  (max-width:939px){
        #contacts h2 {
    
                 margin: 5% 20% 5% 20%;
        }
        .menu a {
        font-size: 14px;
        padding: 2px 4px;
        text-align: center;
        }
        .logo{
            font-size: 20px;
           padding-left: 20px;
        }
        .column{
            font-size: 20px;
        }
        .column1 {
            font-size: 20px;
        }
        
        }
    
    @media screen  and  (max-width:1021px){
.p1 p{
   min-width:40%;
}
.p2 p{
   width: 50%;
 
}

    }

    @media screen  and  (max-width:772px){
       
        #aboutme h2{
            margin-top: 7%;
        }
         .p1 p{
          
            font-size: 16px;
         }
         .p2 p{
            width: 55%;
            font-size:16px ;
          
         }
    }
    
    @media screen and (min-width:300px) and (max-width: 429px) {
        .caption2 {
            font-size: 15px;
        }
        #portfolio h2 {
            font-size: 35px;
        }
        
#contacts h2 {
    margin-top: 0%;
}
  
} 
 