*{
  box-sizing: border-box;
}
body{
  font-family: 'Jura', sans-serif;
  margin: 0%;
}

html{
scroll-behavior: smooth;
overflow-x: hidden;
}

.header{
position: sticky;
top: 0;
margin-right: 0;
}

.navbar{
background-color:rgb(219, 218, 218);
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0%;
list-style: none;
}

.menu{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  font-size: 25px;
  font-weight: 500;
  color: rgb(222, 216, 228);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  justify-content: flex-end;

}


.logo{
color: rgb(7, 7, 7);
font-size: 60px;
font-weight: 900;
padding: 60px;
padding-left: 80px;
}

.menu a {
  color: rgb(178, 173, 184);
  text-decoration: none;
  background-color: transparent;
  font-size: 40px;
  padding: 4px 80px;
  margin: 0px 32px;
  border: 0px solid transparent;
  border-radius: 16px;
}

.menu a.active{
  background-color: rgb(84, 83, 85);
  color: white;
}

.menu a:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(195, 192, 199);
}

.section{
 min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  margin-top: 0;
  padding-top: 1px;
}

#homepage{
  background-color: rgb(100, 96, 96);
}

.caption{
  border: 4pt transparent solid;
  border-radius: 20px;
  line-height: 10px;
  margin: 7% 30% ;
  padding: 60px;
  text-align: center;
  background-color:  rgb(178, 173, 184);
  font-size: 130px;
  margin-bottom: 0%;
}

.caption2{
  font-size: 90px;
  display: inline;
  text-align: center;
  color: rgb(178, 173, 184);
  line-height: 1em;
  margin-top: 0%; 
}

.imgs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 45px;
  background-color: rgb(178, 173, 184) ;
}

img{
  border: 5px;
  border-radius: 30px;
}


#aboutme h2{

  font-size: 150px;
  background-color: rgb(178, 173, 184)  ;
  padding: 45px;
  margin: 5% 30% 0% 30%;
  text-align: center;
  border: 4px solid transparent;
  border-radius: 20px;
}
 

.p1{
  display: inline-flex;
  flex-direction: row;

  justify-content: right;
  font-size: 60px;
  margin-top: 3%;
 margin-left: 21%;
   width: 60%;
   column-count: 2;
    }

.p1 img{
 height: 2000px;
}

.p2{
   display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  margin: -20% 0% 60% -10%;
  margin-left: 21%;

 
 
}
.p2 p{
 width: 50%;
 font-size: 60px;
 background-color:rgb(178, 173, 184)  ;
margin-right: 60%;
}



#portfolio{
display: block;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
background-color: rgb(100, 96, 96);
font-size: 120px;
text-align: center;
}

#portfolio img{
margin: 20px;
height:850px; 
border: 4px solid transparent;
border-radius: 50px;
}

#portfolio h2{
padding-top: 5%;
}

 #contacts{
  font-size: 120px;
 

   
 }
#contacts h2{
  background-color:  rgb(178, 173, 184);
  padding: 40px;
  margin: 7% 30% 0% 30%;
  text-align: center;
  border: 4px solid transparent;
  border-radius: 20px;
   }
 
hr{
 width: 40%;
  height: 5px;
      }

.row{
column-count: 2;
font-size: 80px;
column-rule: 5px solid black;
background-color: rgb(178, 173, 184);
}
 
.column{
 padding-top: 9px;
margin-left: 60%;
 text-align: left;
}

.column1{
  padding-top: 9px;
  padding-right: 10px;
  text-align:left;
  margin-left: 3%;
  margin-bottom: 0%;
}

.smile{
  font-size:800px;
  text-align: center;
  color:rgb(178, 173, 184) ;
}

